
    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->

    <footer id="ts-footer">

        <!--MAIN FOOTER CONTENT
        =============================================================================================================-->
        <section id="ts-footer-main">
            <div class="container">
                <div class="row">

                    <!--Brand and description-->
                    <div class="col-md-6">
                        <a href="#" class="brand">
                            <img src="/img/logo.png" alt="">
                        </a>
                        <p class="mb-4">
                            Trakya'da ev kiralamaya yeni soluk getiren Obatur, ev sahiplerini ve kiracıları bir araya getiriyor.
                        </p>
                        <a href="#" class="btn btn-outline-dark mb-4">İletişime Geç</a>
                    </div>

                    <!--Navigation-->
                    <div class="col-md-2">
                        <h4>Navigasyon</h4>
                        <nav class="nav flex-row flex-md-column mb-4">
                            <a href="/" class="nav-link">Ana Sayfa</a>
                            <a href="/listing" class="nav-link">Tüm Mevcut Evler</a>
                            <a href="/about" class="nav-link">Hakkımızda</a>
                            <a href="/login" class="nav-link">Giriş/Kayıt</a>
                        </nav>
                    </div>

                    <!--Contact Info-->
                    <div class="col-md-4">
                        <h4>İletişim Bilgileri</h4>
                        <address class="ts-text-color-light">
                            Süleymanpaşa
                            <br>
                            Tekirdağ/Türkiye
                            <br>
                            <strong>Email: </strong>
                            <a href="#" class="btn-link">info@trakyaemlak.com</a>
                            <br>
                            <strong>Phone:</strong>
                            +90 555 123 45 67
                            <br>
                            <strong>Instagram: </strong>
                            oba.tur
                        </address>
                    </div>

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!--end ts-footer-main-->

        <!--SECONDARY FOOTER CONTENT
        =============================================================================================================-->
        <section id="ts-footer-secondary">
            <div class="container">

                <!--Copyright-->
                <div class="ts-copyright">(C) 2024 Obatur</div>

                <!--Social Icons-->
                <div class="ts-footer-nav">
                    <nav class="nav">
                        <a href="#" class="nav-link">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="nav-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="nav-link">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                        <a href="#" class="nav-link">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </nav>
                </div>
                <!--end ts-footer-nav-->

            </div>
            <!--end container-->
        </section>
        <!--end ts-footer-secondary-->

    </footer>
    <!--end #ts-footer-->