<%- include("partials/_headSecond") %>

<body>

<div class="ts-page-wrapper " id="page-top">

    <%- include("partials/_header") %>

    <!--*********************************************************************************************************-->
    <!--************ MAIN ***************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">


        <!--PAGE TITLE ******************************************************************************************-->
        <section id="page-title">
            <div class="container">
                <div class="ts-title">
                    <h1>Hakkımızda</h1>
                <!--end ts-title-->
            </div>
            <!--end container-->
        </section>

        <!--DESCRIPTION *****************************************************************************************-->
        <section id="about-us-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p class="h3">
                           
Peki biz kimiz? Biz, emlak sektöründe yenilikçi çözümler sunmayı hedefleyen bir platform olarak karşınızdayız.

                        </p>
                        <p class="mb-5">
                            Amacımız, gayrimenkul arayışınızı en kolay ve en etkili şekilde gerçekleştirmenizi sağlamak.  Emlak sektöründe yılların deneyimi ve modern teknolojinin gücünü bir araya getirerek, size mükemmel bir hizmet sunuyoruz.
                        </p>
                        <a href="contact.ejs" class="btn btn-primary">İletişim Formu</a>
                    </div>
                    <!--end col-md-8-->
                    <div class="col-md-4"></div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
                <hr class="my-5">
            </div>
            <!--end container-->
        </section>

        <!--TEAM
            =========================================================================================================-->
            <section id="page-title">
                <div class="container">
                    <div class="ts-title">
                        <h1 class="sag">Bürolarımız</h1>
                    <!--end ts-title-->
                </div>
                <!--end container-->
            </section>
        <section id="about-us-team">
            <div class="container pb-5">
                <div class="row">

                    <!--Person-->
                    <div class="col-md-3">
                        <div class="card ts-person ts-card">

                            <!--Ribbon-->
                            <div class="ts-ribbon">
                                <i class="fa fa-thumbs-up"></i>
                            </div>

                            <!--Image-->
                            <a href="#" class="card-img" data-bg-image="/img/team1.jpg">
                                <div class="ts-item__info-badge">
                                    <span>23 Mülk</span>
                                </div>
                            </a>

                            <!--Body-->
                            <div class="card-body">

                                <figure class="ts-item__info">
                                    <h4>Tekirdağ Bürosu</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        Süleymanpaşa/Tekirdağ
                                    </aside>
                                </figure>

                                <dl>
                                    <dt>Telefon</dt>
                                    <dd>+90 555 123 45 67</dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">tekirdag@trakyaemlak.com</a></dd>
                                </dl>

                            </div>

                            <!--Footer-->
                            <a href="agent-detail-01.html" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                    </div>
                    <!--end col-md-3-->

                    <!--Person-->
                    <div class="col-md-3">
                        <div class="card ts-person ts-card">

                            <!--Ribbon-->
                            <div class="ts-ribbon">
                                <i class="fa fa-thumbs-up"></i>
                            </div>

                            <!--Image-->
                            <a href="#" class="card-img" data-bg-image="/img/team2.jpg">
                                <div class="ts-item__info-badge">
                                    <span>41 Mülk</span>
                                </div>
                            </a>

                            <!--Body-->
                            <div class="card-body">

                                <figure class="ts-item__info">
                                    <h4>Edirne Bürosu</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        Merkez/Edirne
                                    </aside>
                                </figure>

                                <dl>
                                    <dt>Telefon</dt>
                                    <dd>+90 555 123 45 67</dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">edirne@trakyaemlak.com</a></dd>
                                </dl>

                            </div>

                            <!--Footer-->
                            <a href="agent-detail-01.html" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                    </div>
                    <!--end col-md-3-->

                    <!--Person-->
                    <div class="col-md-3">
                        <div class="card ts-person ts-card">

                            <!--Image-->
                            <a href="#" class="card-img" data-bg-image="/img/team1.jpg">
                                <div class="ts-item__info-badge">
                                    <span>16 Mülk</span>
                                </div>
                            </a>

                            <!--Body-->
                            <div class="card-body">

                                <figure class="ts-item__info">
                                    <h4>Kırklareli Bürosu</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        Lüleburgaz/Kırklareli
                                    </aside>
                                </figure>

                                <dl>
                                    <dt>Telefon</dt>
                                    <dd>+90 555 123 45 67</dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">kirklareli@trakyaemlak.com</a></dd>
                                </dl>

                            </div>

                            <!--Footer-->
                            <a href="agent-detail-01.html" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                    </div>
                    <!--end col-md-3-->

                    <!--Person-->
                    <div class="col-md-3">
                        <div class="card ts-person ts-card">

                            <!--Image-->
                            <a href="#" class="card-img" data-bg-image="/img/team2.jpg">
                                <div class="ts-item__info-badge">
                                    <span>28 Mülk</span>
                                </div>
                            </a>

                            <!--Body-->
                            <div class="card-body">

                                <figure class="ts-item__info">
                                    <h4>Çanakkale Bürosu</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        Çanakkale Merkez/Çanakkale
                                    </aside>
                                </figure>

                                <dl>
                                    <dt>Telefon</dt>
                                    <dd>+90 555 123 45 67</dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">canakkale@trakyaemlak.com</a></dd>
                                </dl>

                            </div>

                            <!--Footer-->
                            <a href="agent-detail-01.html" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                    </div>
                    <!--end col-md-3-->

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>

        <!--TESTIMONIALS ****************************************************************************************
        <section id="about-us-testimonials-carousel">
            <div class="bg-white text-center py-5">
                <div class="container">
                    <div class="offset-lg-2 col-lg-8">
                        <div class="owl-carousel" data-owl-items="1" data-owl-dots="1">

                            <div class="ts-slide">
                                <div class="ts-circle__sm" data-bg-image="/img/img-person-01.jpg"></div>
                                <h5 class="my-3">Kullanıcı Yorumu</h5>
                                <p class="h5 font-weight-normal ts-text-color-light">
                                    Duis ac dolor et enim volutpat semper. Morbi placerat tempor ornare. Quisque
                                    bibendum
                                    ultrices diam, ac fermentum massa egestas quis.
                                </p>
                            </div>
                            <!--end ts-slide-

                            <div class="ts-slide">
                                <div class="ts-circle__sm" data-bg-image="/img/img-person-02.jpg"></div>
                                <h5 class="my-3">Kullanıcı Yorumu</h5>
                                <p class="h5 font-weight-normal ts-text-color-light">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat tempor
                                    sapien.
                                    In lobortis posuere tincidunt. Curabitur malesuada tempus ligula nec
                                </p>
                            </div>
                            <div class="ts-slide">
                                <div class="ts-circle__sm" data-bg-image="/img/img-person-02.jpg"></div>
                                <h5 class="my-3">Kullanıcı Yorumu</h5>
                                <p class="h5 font-weight-normal ts-text-color-light">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat tempor
                                    sapien.
                                    In lobortis posuere tincidunt. Curabitur malesuada tempus ligula nec
                                </p>
                            </div>
                            <!--end ts-slide-->

                        </div>
                        <!--end owl-carousel-->
                    </div>
                    <!--end offset-lg-2-->
                </div>
                <!--end container-->
            </div>
            <!--end ts-block-->
        </section>

        <!--NUMBERS *********************************************************************************************-->
        <section id="about-us-numbers">
            <div id="numbers" class="py-5 text-white text-center ts-separate-bg-element" data-bg-color="#000037" data-bg-image="/img/bg-apartment-table.jpg" data-bg-image-opacity=".3">
                <div class="container py-5">
                    <div class="ts-promo-numbers">
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="ts-promo-number">
                                    <h2 class="sayi">640+</h2>
                                    <h4 class="mb-0 baslik4">Mülk</h4>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->

                            <div class="col-sm-3">
                                <div class="ts-promo-number">
                                    <h2 class="sayi">350+</h2>
                                    <h4 class="mb-0 baslik4">Müşteri</h4>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->

                            <div class="col-sm-3">
                                <div class="ts-promo-number">
                                    <h2 class="sayi">23+</h2>
                                    <h4 class="mb-0 baslik4">Tecrübe</h4>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->

                            <div class="col-sm-3">
                                <div class="ts-promo-number">
                                    <h2 class="sayi">67+</h2>
                                    <h4 class="mb-0 baslik4">Ortaklık</h4>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->

                        </div>
                        <!--end row-->
                    </div>
                    <!--end ts-promo-numbers-->
                </div>
                <!--end container-->
            </div>
            <!--end #numbers-->
        </section>

        <!--PARTNERS ********************************************************************************************-->
        <section id="partners" class="ts-block pt-4 pb-0">
            <div class="container">

                <!--Logos-->
                <div class="d-block d-md-flex justify-content-between align-items-center text-center ts-partners py-3">

                    <a href="#">
                        <img class="deneme" src="/img/logo1.png" alt="">
                    </a>

                    <a href="#">
                        <img class="deneme" src="/img/logo1.png" alt="">
                    </a>

                    <a href="#">
                        <img class="deneme" src="/img/logo1.png" alt="">
                    </a>

                    <a href="#">
                        <img class="deneme" src="/img/logo1.png" alt="">
                    </a>

                    <a href="#">
                        <img class="deneme" src="/img/logo1.png" alt="">
                    </a>

                </div>
                <!--end logos-->
            </div>
        </section>


    </main>
    <!--end #ts-main-->

    <%- include("partials/_footer") %>

</div>
<!--end page-->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
