<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="TrakyaEmlak">

    <!--CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">

    <title><%= title %> | TrakyaEmlak</title>


</head>

<body>

<!-- WRAPPER
    =================================================================================================================-->
<div class="ts-page-wrapper " id="page-top">

    <%- include("partials/_header") %>

    <!--*********************************************************************************************************-->
    <!-- MAIN ***************************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">


        <!--PAGE TITLE
            =========================================================================================================-->
        <section id="page-title">
            <div class="container">
                <div class="ts-title">
                    <h1>Bize Ulaşın</h1>
                </div>
            </div>
        </section>

        <!--MAP
            =========================================================================================================-->
        <section id="map-address">

            <div class="container mb-5">
                <div class="ts-contact-map ts-map ts-shadow__sm position-relative">

                    <!--Address on map-->
                    <address class="position-absolute ts-bottom__0 ts-left__0 text-white m-3 p-4 ts-z-index__2" data-bg-color="#A91D3A">
                        <strong>Emlak Ofisi</strong>
                        <br>
                        59000
                        <br>
                        Tekirdağ
                    </address>

                    <!--Map-->
                    <div id="ts-map-simple" class="h-100 ts-z-index__1"
                         data-ts-map-leaflet-provider="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"
                         data-ts-map-zoom="14"
                         data-ts-map-center-latitude="40.9770251"
                         data-ts-map-center-longitude="27.5139553"
                         data-ts-map-scroll-wheel="1"
                         data-ts-map-controls="0"></div>
                </div>
            </div>

        </section>

        <!--CONTACT INFO & FORM
            =========================================================================================================-->
        <section id="contact-form">
            <div class="container">
                <div class="row">

                    <!--CONTACTS (LEFT SIDE)
                        =============================================================================================-->
                    <div class="col-md-4">

                        <!--Title-->
                        <h3>İletişim</h3>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat tempor sapien.
                            In lobortis posuere tincidunt.
                        </p>

                        <!--Phone-->
                        <figure class="ts-center__vertical">
                            <i class="fa fa-phone ts-opacity__50 mr-3 mb-0 h4 font-weight-bold"></i>
                            <dl class="mb-0">
                                <dt>Telefon</dt>
                                <dd class="ts-opacity__50"> +90 555 123 4567 </dd>
                            </dl>
                        </figure>

                        <!--Email-->
                        <figure class="ts-center__vertical">
                            <i class="fa fa-envelope ts-opacity__50 mr-3 mb-0 h4 font-weight-bold"></i>
                            <dl class="mb-0">
                                <dt>Email</dt>
                                <dd class="ts-opacity__50">
                                    <a href="#">hello@trakyaemlak.com</a>
                                </dd>
                            </dl>
                        </figure>

                        <!--Instagram-->
                        <figure class="ts-center__vertical">
                            <i class="fab fa-instagram ts-opacity__50 mr-3 mb-0 h4 font-weight-bold"></i>
                            <dl class="mb-0">
                                <dt>Instagram</dt>
                                <dd class="ts-opacity__50">
                                    <a href="#">real.estate.agency</a>
                                </dd>
                            </dl>
                        </figure>

                    </div>
                    <!--end col-md-4-->

                    <!--FORM (RIGHT SIDE)
                        =============================================================================================-->
                    <div class="col-md-8">

                        <!--Title-->
                        <h3>İletişim Formu</h3>

                        <!--Form-->
                        <form id="form-contact" method="post" class="clearfix ts-form ts-form-email" data-php-path="/php/email.php">

                            <!--Row-->
                            <div class="row">

                                <!--Name-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-name">Ad Soyad *</label>
                                        <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Adınız Soyadınız" required>
                                    </div>
                                </div>

                                <!--Email-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-email">Email *</label>
                                        <input type="email" class="form-control" id="form-contact-email" name="email" placeholder=" Email Adresiniz" required>
                                    </div>
                                </div>

                            </div>
                            <!--end row -->

                            <!--Subject-->
                            <div class="form-group">
                                <label for="form-contact-email">Konu *</label>
                                <input type="text" class="form-control" id="form-contact-subject" name="subject" placeholder="Konu" required>
                            </div>

                            <!--Message-->
                            <div class="form-group">
                                <label for="form-contact-message">Mesaj *</label>
                                <textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Mesajınız" required></textarea>
                            </div>

                            <!--Submit button-->
                            <div class="form-group clearfix">
                                <button type="submit" class="btn btn-primary float-right" id="form-contact-submit">Mesaj Gönder
                                    
                                </button>
                            </div>

                            <div class="form-contact-status"></div>

                        </form>
                        <!--end form-contact -->
                    </div>
                    <!--end col-md-8-->

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>

    </main>
    <!--end #ts-main-->

    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->

    <%- include("partials/_footer") %>
    <!--end #ts-footer-->

</div>
<!--end page-->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/map-leaflet.js"></script>

</body>
</html>
