<%- include("partials/_head") %>

<body>

<!-- WRAPPER
=====================================================================================================================-->
<div class="ts-page-wrapper ts-homepage" id="page-top">

    <%- include("partials/_header") %>

    <!-- HERO SLIDER
    =================================================================================================================-->
    <section id="ts-hero" class="mb-0 bg-img-yeni">

        <!--Container-->
        <div class="container py-5 ">
            <div class="row ts-center__both ts-h__auto ts-min-h__60vh">

                <!-- LEFT SIDE (TITLE)
                =====================================================================================================-->
                <div class="col-sm-6 col-md-8 text-white">
                    <!--Title-->
                    <h1 class="mb-2">Find a Nice Place To Live</h1>
                    <!--Subtitle-->
                    <h4 class="ts-opacity__50">Buy or Rent Properties at Great Prices</h4>
                    <!--More properties button-->
                    <a href="#featured-properties" class="ts-scroll btn-dark btn-sm d-none d-md-inline-block" data-bg-color="rgba(255,255,255,.3)">Show More Properties</a>
                </div>

                <!-- RIGHT SIDE (FORM)
                =====================================================================================================-->
                <div class="col-sm-6 col-md-4">

                    <!--Form-->
                    <form class="ts-form py-3 px-4 ts-border-radius__md ts-shadow__md" data-bg-color="rgba(255,255,255,.9)">

                        <h4 class="mb-3">Search Properties</h4>

                        <!--Keyword-->
                        <div class="form-group my-2">
                            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Address, City or ZIP">
                        </div>

                        <!--Type-->
                        <select class="custom-select my-2" id="type" name="type">
                            <option value="">Type</option>
                            <option value="1">Apartment</option>
                            <option value="2">Villa</option>
                            <option value="3">Land</option>
                            <option value="4">Garage</option>
                        </select>

                        <!--Status-->
                        <select class="custom-select my-2" id="status" name="status">
                            <option value="">Status</option>
                            <option value="1">Rent</option>
                            <option value="2">Sale</option>
                        </select>

                        <!--Max Price-->
                        <select class="custom-select my-2" id="price" name="status">
                            <option value="">Max Price</option>
                            <option value="1">$ 5,000</option>
                            <option value="2">$ 10,000</option>
                            <option value="3">$ 20,000</option>
                            <option value="4">$ 50,000</option>
                        </select>

                        <!--Submit button-->
                        <div class="form-group my-2">
                            <button type="submit" class="btn btn-primary w-100" id="search-btn">Search</button>
                        </div>

                    </form>
                </div>
                <!--end col-sm-6-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

        <div class="ts-background ts-hero-slider ts-bg-black">
            <div class="ts-background-image ts-opacity__50">

                <div class="owl-carousel" data-owl-loop="1" data-owl-fadeout="1">
                    <div class="slide" data-bg-image="assets/img/bg-dining-room.jpg"></div>
                    <div class="slide" data-bg-image="assets/img/bg-stairs.jpg"></div>
                </div>
            </div>
        </div>

    </section>
    <!--end ts-hero-->

    <!--*********************************************************************************************************-->
    <!-- MAIN ***************************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">

        <!-- CATEGORY SELECT
        =============================================================================================================-->
        <section id="category-select" class="ts-icons-select ts-icons-select__dark" data-bg-color="#292929">

            <!--Cabins-->
            <a href="listing-category-icons.html">
                <aside>17</aside>
                <img src="assets/svg/icon-cabins-w.svg" alt="">
                <figure>
                    <h6>Cabins</h6>
                    <small>Explore</small>
                </figure>
            </a>

            <!--Apartments-->
            <a href="listing-category-icons.html">
                <aside>32</aside>
                <img src="assets/svg/icon-apartment-w.svg" alt="">
                <figure>
                    <h6>Apartments</h6>
                    <small>Explore</small>
                </figure>
            </a>

            <!--Houses-->
            <a href="listing-category-icons.html">
                <aside>86</aside>
                <img src="assets/svg/icon-house-w.svg" alt="">
                <figure>
                    <h6>Houses</h6>
                    <small>Explore</small>
                </figure>
            </a>

            <!--Offices-->
            <a href="listing-category-icons.html">
                <aside>64</aside>
                <img src="assets/svg/icon-offices-w.svg" alt="">
                <figure>
                    <h6>Offices</h6>
                    <small>Explore</small>
                </figure>
            </a>

            <!--Garages-->
            <a href="listing-category-icons.html">
                <aside>21</aside>
                <img src="assets/svg/icon-garages-w.svg" alt="">
                <figure>
                    <h6>Garages</h6>
                    <small>Explore</small>
                </figure>
            </a>

            <!--Lands-->
            <a href="listing-category-icons.html">
                <aside>46</aside>
                <img src="assets/svg/icon-land-w.svg" alt="">
                <figure>
                    <h6>Lands</h6>
                    <small>Explore</small>
                </figure>
            </a>

        </section>

        <!-- FEATURED PROPERTIES
        =============================================================================================================-->
        <section id="featured-properties" class="ts-block pt-5">
            <div class="container">

                <!--Title-->
                <div class="ts-title text-center">
                    <h2>Öne Çıkanlar</h2>
                </div>

                <div class="row">

                    <!--Item-->
                    <div class="col-sm-6 col-lg-4">

                        <div class="card ts-item ts-card ts-item__lg">

                            <!--Ribbon-->
                            <div class="ts-ribbon">
                                <i class="fa fa-thumbs-up"></i>
                            </div>

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property1.jpg">
                                <div class="ts-item__info-badge">
                                    $350,000
                                </div>
                                <figure class="ts-item__info">
                                    <h4>Big Luxury Apartment</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        1350 Arbutus Drive
                                    </aside>
                                </figure>
                            </a>

                            <!--Card Body-->
                            <div class="card-body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-4">

                        <div class="card ts-item ts-card ts-item__lg">

                            <!--Ribbon-->
                            <div class="ts-ribbon-corner">
                                <span>Updated</span>
                            </div>

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property2.jpg">
                                <figure class="ts-item__info">
                                    <h4>Cozy Design Studio</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4831 Worthington Drive
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">$125,000</div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-4">

                        <div class="card ts-item ts-card ts-item__lg">

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property3.jpg">
                                <figure class="ts-item__info">
                                    <h4>Family Villa</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4127 Winding Way
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">$45,900</div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                </div>
                <!--end row-->

                <!--All properties button-->
                <div class="text-center mt-3">
                    <a href="/list" class="btn btn-outline-dark ts-btn-border-muted">Tümünü Gör</a>
                </div>

            </div>
            <!--end container-->
        </section>

        <!-- FEATURES
        =============================================================================================================-->
        <section class="ts-block bg-white">
            <div class="container py-4">
                <div class="row">

                    <!--Feature-->
                    <div class="col-sm-6 col-md-3">
                        <div class="ts-feature">

                            <figure class="ts-feature__icon p-2">
                                    <span class="ts-circle">
                                        <i class="fa fa-check"></i>
                                    </span>
                                <img src="/img/icon-calculator.png" alt="discount icon">
                            </figure>

                            <h4>Uygun Fiyatlar</h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        </div>
                    </div>

                    <!--Feature-->
                    <div class="col-sm-6 col-md-3">
                        <div class="ts-feature">

                            <figure class="ts-feature__icon p-2">
                                    <span class="ts-circle">
                                        <i class="fa fa-check"></i>
                                    </span>
                                <img src="/img/icon-pin.png" alt="">
                            </figure>

                            <h4>Teknik Destek</h4>

                            <p>In dictum ac augue et suscipit. Vivamus ac tellus ut massa</p>

                        </div>
                    </div>

                    <!--Feature-->
                    <div class="col-sm-6 col-md-3">
                        <div class="ts-feature">

                            <figure class="ts-feature__icon p-2">
                                    <span class="ts-circle">
                                        <i class="fa fa-check"></i>
                                    </span>
                                <img src="/img/icon-agent.png" alt="">
                            </figure>

                            <h4>Yerel Birimler</h4>

                            <p>Vivamus ac tellus ut massa bibendum aliquam vitae ac diam. </p>

                        </div>
                    </div>

                    <!--Feature-->
                    <div class="col-sm-6 col-md-3">
                        <div class="ts-feature">

                            <figure class="ts-feature__icon p-2">
                                    <span class="ts-circle">
                                        <i class="fa fa-check"></i>
                                    </span>
                                <img src="/img/icon-service.png" alt="">
                            </figure>

                            <h4>Güzel Hizmet</h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        </div>
                    </div>

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!--end ts-block-->

        <!-- SUBSCRIBE
        =============================================================================================================-->
        <section id="subscribe" class="ts-block text-white ts-separate-bg-element" data-bg-image="/img/bg-offices.jpg" data-bg-color="#000" data-bg-image-opacity=".3">
            <div class="container">
                <div class="offset-lg-1 col-lg-10">

                    <h3 class="font-weight-light">Kampanyalarımızı size haber vermemizi ister misiniz?</h3>

                    <form class="ts-form ts-form-email" data-php-path="/php/email.php">
                        <div class="row">

                            <!--Input-->
                            <div class="col-sm-8 col-md-10">
                                <div class="form-group mb-0">
                                    <input type="email" class="form-control" id="email-subscribe" aria-describedby="subscribe" name="email" placeholder="Email Adresi" required>
                                    <small class="form-text mt-2 ts-opacity__50">*Abonelik iptali gelen mail içerisinde anlatılıyor.</small>
                                </div>
                            </div>

                            <!--Button-->
                            <div class="col-sm-4 col-md-2">
                                <button type="submit" class="btn btn-outline-light w-100">Abone Ol</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </section>

        <!--LATEST LISTINGS
        =============================================================================================================-->
        <section id="latest-listings" class="ts-block">
            <div class="container">

                <!--Title-->
                <div class="ts-title">
                    <h2>Yeni Eklenenler</h2>
                </div>

                <!--Row-->
                <div class="row">

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Ribbon-->
                            <div class="ts-ribbon">
                                <i class="fa fa-thumbs-up"></i>
                            </div>

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property2.jpg">
                                <div class="ts-item__info-badge">
                                    $350,000
                                </div>
                                <figure class="ts-item__info">
                                    <h4>Big Luxury Apartment</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        1350 Arbutus Drive
                                    </aside>
                                </figure>
                            </a>

                            <!--Card Body-->
                            <div class="card-body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Ribbon-->
                            <div class="ts-ribbon-corner">
                                <span>Yenilendi</span>
                            </div>

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property3.jpg">
                                <figure class="ts-item__info">
                                    <h4>Cozy Design Studio</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4831 Worthington Drive
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">$125,000</div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property1.jpg">
                                <figure class="ts-item__info">
                                    <h4>Family Villa</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4127 Winding Way
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">$45,900</div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property2.jpg">
                                <div class="ts-item__info-badge">
                                    $860,000
                                </div>
                                <figure class="ts-item__info">
                                    <h4>Traditional Restaurant</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        1350 Arbutus Drive
                                    </aside>
                                </figure>
                            </a>

                            <!--Card Body-->
                            <div class="card-body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property3.jpg">
                                <figure class="ts-item__info">
                                    <h4>White Cubes Resort</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4831 Worthington Drive
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">$435,000</div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property1.jpg">
                                <figure class="ts-item__info">
                                    <h4>Bristol Tower Complex</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4127 Winding Way
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">$85,900</div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property2.jpg">
                                <figure class="ts-item__info">
                                    <h4>River Apartments</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        1350 Arbutus Drive
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">
                                    $120,000
                                </div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end Item col-md-4-->

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card ts-item ts-card">

                            <div class="badge badge-dark">Kiralık</div>

                            <!--Card Image-->
                            <a href="/detail" class="card-img ts-item__image" data-bg-image="/img/property3.jpg">
                                <figure class="ts-item__info">
                                    <h4>Apartment</h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        4831 Worthington Drive
                                    </aside>
                                </figure>
                                <div class="ts-item__info-badge">
                                    <span>$480</span>
                                    <small>/ month</small>
                                </div>
                            </a>

                            <!--Card Body-->
                            <div class="card-body ts-item__body">
                                <div class="ts-description-lists">
                                    <dl>
                                        <dt>Alan</dt>
                                        <dd>325m<sup>2</sup></dd>
                                    </dl>
                                    <dl>
                                        <dt>Yatak</dt>
                                        <dd>2</dd>
                                    </dl>
                                    <dl>
                                        <dt>Banyo</dt>
                                        <dd>1</dd>
                                    </dl>
                                </div>
                            </div>

                            <!--Card Footer-->
                            <a href="/detail" class="card-footer">
                                <span class="ts-btn-arrow">Detay</span>
                            </a>

                        </div>
                        <!--end ts-item ts-card-->
                    </div>
                    <!--end Item col-md-4-->

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>


        <!--SUBMIT BANNER
        =============================================================================================================-->
        <section id="submit-banner" class="ts-block">
            <div class="container">

                <div class="ts-block-inside text-center ts-separate-bg-element text-white" data-bg-image-opacity=".4" data-bg-image="/img/bg-chair.jpg" data-bg-color="#000">
                    <figure class="h1 font-weight-light mb-2">Siz de mülkünüz burada listelensin ister misiniz?</figure>
                    <p class="mb-5">Hesabınıza giriş yapıp evinizi ekleyin, kısa süren bir gözden geçirme sonrasında eviniz yayınlanacaktır.</p>
                    <a href="/submit" class="btn btn-light">Yeni Mülk Kayıt Formu</a>
                </div>

            </div>
        </section>

        <!--PARTNERS
        =============================================================================================================-->
        <section id="partners" class="ts-block pt-4 pb-0">
            <div class="container">

                <!--Logos-->
                <div class="d-block d-md-flex justify-content-between align-items-center text-center ts-partners py-3">

                    <a href="#">
                        <img src="/img/logo-01.png" alt="">
                    </a>

                    <a href="#">
                        <img src="/img/logo-02.png" alt="">
                    </a>

                    <a href="#">
                        <img src="/img/logo-03.png" alt="">
                    </a>

                    <a href="#">
                        <img src="/img/logo-04.png" alt="">
                    </a>

                    <a href="#">
                        <img src="/img/logo-05.png" alt="">
                    </a>

                </div>
                <!--end logos-->
            </div>
        </section>

    </main>

    

    <%- include("partials/_footer") %>

</div>
<!--end page-->

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/custom.js"></script>

</body>
</html>
