<%- include("partials/_head") %>

<body>

<!-- WRAPPER
=====================================================================================================================-->
<div class="ts-page-wrapper ts-homepage ts-full-screen-page" id="page-top">

    <%- include("partials/_header") %>


    <!-- HERO MAP
    =================================================================================================================-->
    <section id="ts-hero" class=" mb-0">

        <!--Fullscreen mode-->
        <div class="ts-full-screen d-flex flex-column">

            <!-- FORM
            =========================================================================================================-->
            <section class="ts-shadow__sm ts-z-index__2 ts-bg-light">

                <!--Collapse Button-->
                <div class="position-absolute w-100 ts-bottom__0 ts-z-index__1 text-center ts-h-0">
                    <button type="button" class="ts-circle p-3 bg-white ts-shadow__sm border-0 ts-push-up__50 mt-2" data-toggle="collapse" data-target="#form-collapse">
                        <i class="fa fa-chevron-up ts-text-color-primary ts-visible-on-uncollapsed"></i>
                        <i class="fa fa-chevron-down ts-text-color-primary ts-visible-on-collapsed"></i>
                    </button>
                </div>

                <!--Form-->
                <div id="form-collapse" class="collapse ts-xs-hide-collapse show">
                    <form class="ts-form mb-0 d-flex flex-column flex-sm-row py-2 pl-2 pr-3">

                        <!--Keyword-->
                        <div class="form-group m-1 w-100">
                            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Adres, Şehir veya Posta Kodu">
                        </div>

                        <!--Category-->
                        <div class="form-group m-1 w-100">
                            <select class="custom-select" id="type" name="category">
                                <option value="">Tür</option>
                                <option value="1">Daire</option>
                                <option value="2">Villa</option>
                                <option value="3">Arsa</option>
                                <option value="4">İş Yeri</option>
                            </select>
                        </div>

                        <!--Status-->
                        <div class="form-group m-1 w-100">
                            <select class="custom-select" id="status" name="status">
                                <option value="">Durum</option>
                                <option value="1">Satılık</option>
                                <option value="2">Kiralık</option>
                            </select>
                        </div>

                        <!--Min Area-->
                        <div class="input-group m-1 w-100">
                            <input type="text" class="form-control border-right-0" id="min-area" placeholder="Min Büyüklük ">
                            <div class="input-group-append">
                                <span class="input-group-text bg-white border-left-0">m<sup>2</sup></span>
                            </div>
                        </div>

                        <!--Max Area-->
                        <div class="input-group m-1 w-100">
                            <input type="text" class="form-control border-right-0" id="max-area" placeholder="Max Büyüklük">
                            <div class="input-group-append">
                                <span class="input-group-text bg-white border-left-0">m<sup>2</sup></span>
                            </div>
                        </div>

                        <!--Min Price-->
                        <div class="input-group m-1 w-100">
                            <input type="text" class="form-control border-right-0" id="min-price" placeholder="Min Fiyat ">
                            <div class="input-group-append">
                                <span class="input-group-text bg-white border-left-0">$</span>
                            </div>
                        </div>

                        <!--Max Price-->
                        <div class="input-group m-1 w-100">
                            <input type="text" class="form-control border-right-0" id="max-price" placeholder="Max Fiyat">
                            <div class="input-group-append">
                                <span class="input-group-text bg-white border-left-0">$</span>
                            </div>
                        </div>

                        <!--Submit button-->
                        <div class="form-group m-1 ml-auto">
                            <button type="submit" class="btn btn-primary" id="search-btn">Ara</button>
                        </div>
                    </form>
                </div>
                <!--end Form-->

            </section>
            <!--end ts-form__grid-->

            <!-- RESULTS & MAP
            =========================================================================================================-->
            <div class="d-flex h-100">

                <!-- RESULTS LEFT
                =====================================================================================================-->
                <div class="ts-results__vertical ts-results__vertical-list ts-shadow__sm scrollbar-inner bg-white">

                    <!--Results wrapper-->
                    <section id="ts-results">
                        <div class="ts-results-wrapper"></div>
                    </section>

                </div>
                <!--end ts-results-vertical-->

                <!-- MAP
                =====================================================================================================-->
                <div class="ts-map w-100">
                    <div id="ts-map-hero" class="h-100"
                         data-ts-map-zoom="9"
                         data-ts-map-center-latitude="41.0082"
                         data-ts-map-center-longitude="27.5104"
                         data-ts-google-map-style='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e9e9e9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#deebd8"},{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#c4e5f3"},{"visibility":"on"}]}]'
                         data-ts-locale="tr-TR"
                         data-ts-currency="TRY"
                         data-ts-unit="m<sup>2</sup>"
                         data-ts-display-additional-info="area_Area;bedrooms_Bedrooms;bathrooms_Bathrooms;rooms_Rooms"
                    >
                    </div>
                </div>

            </div>
            <!--end d-flex h-100-->

        </div>
        <!--end full-screen-->

    </section>
    <!--end ts-hero-->

</div>
<!--end page-->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/dragscroll.js"></script>
<script src="/js/jquery.scrollbar.min.js"></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyDZQfejNpcfUT0SdOV128cxADSJ-zZArwY&libraries=places"></script>
<script src="/js/richmarker-compiled.js"></script>
<script src="/js/markerclusterer_packed.js"></script>
<script src="/js/infobox.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/map-google.js"></script>

</body>
</html>
