<%- include("partials/_head") %>

<body>

<!-- WRAPPER
    =================================================================================================================-->
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">

    <%- include("partials/_header") %>


    <!--*********************************************************************************************************-->
    <!-- MAIN ***************************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">

        <!--BREADCRUMB
            =========================================================================================================-->
        <section id="breadcrumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>
        </section>

        
    <div class="container-services">
        <h1>Our Services</h1>
        <div class="tabs-services">
            <button class="tab-button-services" onclick="showTab('service1')">Service 1</button>
            <button class="tab-button-services" onclick="showTab('service2')">Service 2</button>
            <button class="tab-button-services" onclick="showTab('service3')">Service 3</button>
            <button class="tab-button-services" onclick="showTab('service4')">Service 4</button>
            <button class="tab-button-services" onclick="showTab('service5')">Service 5</button>
            <button class="tab-button-services" onclick="showTab('service6')">Service 6</button>
        </div>
        <div class="tab-content-services">
            <div id="service1" class="tab-pane-services">
                <h2>Service 1</h2>
                <div class="row-services">
                    <div class="column-services text-left-services">
                        <p>Description of service 1.</p>
                    </div>
                    <div class="column-services image-right-services">
                        <img src="/img/team1.jpg" alt="Service 1 image">
                    </div>
                </div>
                <div class="row-services">
                    <div class="column-services image-left-services">
                        <img src="/img/team2.jpg" alt="Service 1 image">
                    </div>
                    <div class="column-services text-right-services">
                        <p>More details about service 1.</p>
                    </div>
                </div>
            </div>
            <div id="service2" class="tab-pane-services" style="display:none;">
                <h2>Service 2</h2>
                <div class="row-services">
                    <div class="column-services text-left-services">
                        <p>Description of service 2.</p>
                    </div>
                    <div class="column-services image-right-services">
                        <img src="/img/team1.jpg" alt="Service 2 image">
                    </div>
                </div>
                <div class="row-services">
                    <div class="column-services image-left-services">
                        <img src="/img/team2.jpg" alt="Service 2 image">
                    </div>
                    <div class="column-services text-right-services">
                        <p>More details about service 2.</p>
                    </div>
                </div>
            </div>
            <div id="service3" class="tab-pane-services" style="display:none;">
                <h2>Service 3</h2>
                <div class="row-services">
                    <div class="column-services text-left-services">
                        <p>Description of service 3.</p>
                    </div>
                    <div class="column-services image-right-services">
                        <img src="/img/team1.jpg" alt="Service 2 image">
                    </div>
                </div>
                <div class="row-services">
                    <div class="column-services image-left-services">
                        <img src="/img/team2.jpg" alt="Service 2 image">
                    </div>
                    <div class="column-services text-right-services">
                        <p>More details about service 3.</p>
                    </div>
                </div>
            </div>
            <div id="service4" class="tab-pane-services" style="display:none;">
                <h2>Service 4</h2>
                <div class="row-services">
                    <div class="column-services text-left-services">
                        <p>Description of service 4.</p>
                    </div>
                    <div class="column-services image-right-services">
                        <img src="/img/team1.jpg" alt="Service 2 image">
                    </div>
                </div>
                <div class="row-services">
                    <div class="column-services image-left-services">
                        <img src="/img/team2.jpg" alt="Service 2 image">
                    </div>
                    <div class="column-services text-right-services">
                        <p>More details about service 4.</p>
                    </div>
                </div>
            </div>
            <div id="service5" class="tab-pane-services" style="display:none;">
                <h2>Service 5</h2>
                <div class="row-services">
                    <div class="column-services text-left-services">
                        <p>Description of service 5.</p>
                    </div>
                    <div class="column-services image-right-services">
                        <img src="/img/team1.jpg" alt="Service 2 image">
                    </div>
                </div>
                <div class="row-services">
                    <div class="column-services image-left-services">
                        <img src="/img/team2.jpg" alt="Service 2 image">
                    </div>
                    <div class="column-services text-right-services">
                        <p>More details about service 5.</p>
                    </div>
                </div>
            </div>
            <div id="service6" class="tab-pane-services" style="display:none;">
                <h2>Service 6</h2>
                <div class="row-services">
                    <div class="column-services text-left-services">
                        <p>Description of service 6.</p>
                    </div>
                    <div class="column-services image-right-services">
                        <img src="/img/team1.jpg" alt="Service 2 image">
                    </div>
                </div>
                <div class="row-services">
                    <div class="column-services image-left-services">
                        <img src="/img/team2.jpg" alt="Service 2 image">
                    </div>
                    <div class="column-services text-right-services">
                        <p>More details about service 6.</p>
                    </div>
                </div>
            </div>
    
    

    </main>
    <!--end #ts-main-->

    <%- include("partials/_footer") %>


</div>
<!--end page-->
<script>
    function showTab(serviceId) {
        var tabs = document.getElementsByClassName('tab-pane-services');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].style.display = 'none';
        }
        document.getElementById(serviceId).style.display = 'block';
    }
</script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>

</body>
</html>

