<%- include("partials/_headSecond") %>

<body>

<!-- WRAPPER
    =================================================================================================================-->
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">

    <%- include("partials/_header") %>

    <!--*********************************************************************************************************-->
    <!-- MAIN ***************************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">

        <!--PAGE TITLE
            =========================================================================================================-->
        <section id="page-title">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-1 col-lg-10">
                        <div class="ts-title">
                            <h1>Kayıt Giriş</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--SUBMIT FORM
            =========================================================================================================-->
        <section id="submit-form">
            <div class="container">
                <div class="row">

                    <div class="offset-lg-1 col-lg-10">

                        <form id="form-submit" class="ts-form">


                            <!--BASIC INFORMATION
                                =====================================================================================-->
                            <section id="basic-information" class="mb-5">

                                <!--Title-->
                                <h3 class="text-muted border-bottom">Anahtar Bilgiler</h3>

                                <!--Row-->
                                <div class="row">

                                    <!--Title-->
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="title">Başlık</label>
                                            <input type="text" class="form-control" id="title" name="title" required>
                                        </div>
                                    </div>

                                    <!--Price-->
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <label for="price">Fiyat</label>
                                            <input type="text" class="form-control border-right-0" id="price">
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white border-left-0">₺</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">

                                        <div class="row">

                                            <!--Area-->
                                            <div class="col">
                                                <div class="input-group">
                                                    <label for="area">Alan</label>
                                                    <input type="text" class="form-control border-right-0" id="area">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white border-left-0">m<sup>2</sup></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Rooms-->
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="rooms">Oda Sayısı</label>
                                                    <input type="number" class="form-control" id="rooms" name="rooms" min="0" required>
                                                </div>
                                            </div>

                                        </div>
                                        <!--end row-->

                                    </div>
                                    <!--end col-md-4-->

                                    <!--Type Select-->
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="type">Emlak Tipi</label>
                                            <select class="custom-select" id="type" name="type">
                                                <option value="">Seç</option>
                                                <option value="1">Apartman</option>
                                                <option value="2">Villa</option>
                                                <option value="3">Arazi</option>
                                                <option value="4">Depo</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Status Select-->
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="status">Durum</label>
                                            <select class="custom-select" id="status" name="status">
                                                <option value="">Seç</option>
                                                <option value="1">Satılık</option>
                                                <option value="2">Kiralık</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!--end row-->
                            </section>

                            <!--LOCATION
                                =====================================================================================-->
                            <section id="location" class="mb-5">

                                <!--Title-->
                                <h3 class="text-muted border-bottom">Konum
                                    <i class="fa fa-question-circle question-icon-tooltip" title="Adres alanına direkt koordinat bilgileri girebilirsiniz. Örn. 46.0124/27.1256"></i>

                                </h3>

                                <div class="row">

                                    <div class="col-sm-6">

                                        <!--Address-->
                                        <div class="input-group">
                                            <label for="address">Adres</label>
                                            <input type="text" class="form-control border-right-0" id="address">
                                            <div class="input-group-append" data-toggle="tooltip" data-placement="top" title="Find My Location">
                                                <a href="#" class="input-group-text bg-white border-left-0 ">
                                                    <i class="fa fa-map-marker ts-text-color-primary"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <!--City-->
                                        <div class="form-group">
                                            <label for="city">İlçe</label>
                                            <input type="text" class="form-control" id="city" name="city" required>
                                        </div>

                                        <!--State-->
                                        <div class="form-group">
                                            <label for="state">İl</label>
                                            <input type="text" class="form-control" id="state" name="state" required>
                                        </div>
                                    </div>
                                    <!--end col-md-6-->

                                    <!--Map-->
                                    <div class="col-sm-6">
                                        <div id="ts-map-simple" class="ts-map ts-shadow__sm h-100"
                                             data-ts-map-leaflet-provider="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"
                                             data-ts-map-zoom="13"
                                             data-ts-map-center-latitude="40.702411"
                                             data-ts-map-center-longitude="-73.556842"
                                             data-ts-map-scroll-wheel="1"
                                             data-ts-map-controls="0"
                                             data-ts-map-marker-drag="1">
                                        </div>
                                    </div>
                                    <!--end col-md-6-->

                                </div>
                                <!--end row-->
                            </section>
                            <!--end #location-->

                            <!--GALLERY
                                =====================================================================================-->
                            <section id="gallery" class="mb-5">

                                <!--Title-->
                                <h3 class="text-muted border-bottom">Galeri 
                                    <i class="fa fa-question-circle question-icon-tooltip" title="Görselleri tercihen WebP uzantılı, en fazla 1920*1080 çözünürlüğünde kullanmalısınız."></i>
                                </h3>

                                <!--File upload-->
                                <div class="file-upload-previews"></div>
                                <div class="file-upload">
                                    <input type="file" name="files[]" class="file-upload-input with-preview" multiple title="Click to add files" maxlength="10" accept="gif|jpg|png">
                                    <span><i class="fa fa-plus-circle"></i>Sürükle / Tıkla</span>
                                </div>

                            </section>

                            <!--ADDITIONAL INFORMATION
                                =====================================================================================-->
                            <section id="additional-information" class="mb-5">

                                <!--Title-->
                                <h3 class="text-muted border-bottom">Ekstra Bilgiler</h3>

                                <!--Description-->
                                <div class="form-group">
                                    <label for="description">Açıklama</label>
                                    <textarea class="form-control" id="description" rows="4" name="description"></textarea>
                                </div>

                                <!--Row-->
                                <div class="row">

                                    <!--Bedrooms-->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bedrooms">Yatak Odası</label>
                                            <input type="number" class="form-control" id="bedrooms" name="bedrooms" min="0">
                                        </div>
                                    </div>

                                    <!--Bathrooms-->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bathrooms">Banyo</label>
                                            <input type="number" class="form-control" id="bathrooms" name="bathrooms" min="0">
                                        </div>
                                    </div>

                                    <!--Garages-->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="garages">Garaj</label>
                                            <input type="number" class="form-control" id="garages" name="garages" min="0">
                                        </div>
                                    </div>

                                </div>
                                <!--end row-->

                                <div id="features-checkboxes">
                                    <h6 class="mb-3">Özellikler</h6>

                                    <div class="ts-column-count-3">

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_1" name="features[]" value="ch_1">
                                            <label class="custom-control-label" for="ch_1">Hava filtreleme</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_2" name="features[]" value="ch_2">
                                            <label class="custom-control-label" for="ch_2">Yatak</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_3" name="features[]" value="ch_3">
                                            <label class="custom-control-label" for="ch_3">Isıtma</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_4" name="features[]" value="ch_4">
                                            <label class="custom-control-label" for="ch_4">Internet</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_5" name="features[]" value="ch_5">
                                            <label class="custom-control-label" for="ch_5">Microdalga Fırın</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_6" name="features[]" value="ch_6">
                                            <label class="custom-control-label" for="ch_6">Sigara İçilebilir</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_7" name="features[]" value="ch_7">
                                            <label class="custom-control-label" for="ch_7">Teras</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_8" name="features[]" value="ch_8">
                                            <label class="custom-control-label" for="ch_8">Balkon</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_9" name="features[]" value="ch_9">
                                            <label class="custom-control-label" for="ch_9">Ütü</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_10" name="features[]" value="ch_10">
                                            <label class="custom-control-label" for="ch_10">Hi-Fi</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_11" name="features[]" value="ch_11">
                                            <label class="custom-control-label" for="ch_11">Sahil</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ch_12" name="features[]" value="ch_12">
                                            <label class="custom-control-label" for="ch_12">Park</label>
                                        </div>

                                    </div>
                                    <!--end ts-column-count-3-->

                                </div>
                                <!--end #features-checkboxes-->

                            </section>
                            <!--end #additional-information-->

                            <hr>

                            <section class="py-3">
                                <a href="#" class="btn btn-outline-secondary btn-lg float-left">
                                    <i class="fa fa-save mr-2"></i>
                                    Taslak Olarak Kaydet
                                </a>
                                <button type="submit" onclick="window.location='preview.html'" class="btn btn-primary ts-btn-arrow btn-lg float-right">Önizleme
                                </button>
                            </section>

                        </form>
                        <!--end #form-submit-->

                    </div>
                    <!--end offset-lg-1 col-lg-10-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>

    </main>
    <!--end #ts-main-->

    <%- include("partials/_footer") %>

</div>
<!--end page-->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/jQuery.MultiFile.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/map-leaflet.js"></script>

</body>
</html>

